.section {
  width: 70%;
  margin: 0 auto;
}

.about_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_img {
  display: inline-block;
  position: relative;
}
.about_img img {
  max-width: 500px;
  width: 50vw;
  height: auto;
}
.about_img ::after {
  display: block;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 16px 10px #fff;
}
.about_txt {
  margin: 8px 4%;
}
.about_txt p {
  line-height: 48px;
}
.about_txt p strong {
  background: linear-gradient(transparent 50%, #ffec9a);
}
.about_ttl h3 {
  display: inline-block;
  font-size: 40px;
  margin-bottom: 24px;
  color: #e4a93b;
}
.about_ttl ::after {
  content: "";
  display: inline-block;
  width: calc(100% - 290px);
  height: 3px;
  background: #e4a93b;
}

.feature {
  background: #eee;
  margin-top: 50px;
}
.feature_txt {
  padding: 5%;
}
.feature_txt p {
  letter-spacing: 0.2em;
  line-height: 1.8em;
  padding-bottom: 140px;
}
.feature_txt p strong {
  color: #e4a93b;
}
.feature_txt p span {
  border-bottom: solid #e4a93b 2px;
}
.feature_item {
  width: 480px;
  height: 680px;
  background: #fff;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}
.feature_item.item1 .feature_img {
  background-image: url(../img/feature1.jpg);
}
.feature_item.item2 .feature_img {
  background-image: url(../img/feature2.jpg);
}
.feature_item.item2 {
  float: right;
}
.feature_item h3 {
  padding: 28px;
  font-size: 28px;
  text-align: center;
}
.feature_item p {
  padding: 0 24px;
  font-size: 24px;
  line-height: 1.5em;
}
.feature_img {
  width: 100%;
  height: 420px;
  background-position: 60% 50%;
  background-size: cover;
}

.service_wrap {
  padding: 0 16px;
}
.service_item {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: right;
  align-items: center;
  border-color: #fff;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 28px;
}
.service_item_img {
  width: 25%;
  padding-left: 16px;
}
.service_item_img img {
  width: 100%;
  height: auto;
}
.service_item p {
  width: 65%;
  margin-left: 30px;
  font-size: 20px;
  line-height: 1.8em;
}
.service_txt {
  padding: 0 3%;
}
.service_txt p {
  letter-spacing: 0.2em;
  line-height: 1.8em;
  padding-bottom: 100px;
}
.service_txt p span {
  border-bottom: solid 2px #e4a93b;
}
.service_txt p strong {
  color: #e4a93b;
}

@media screen and (max-width: 1024px) {
  .about_img img {
    max-width: 340px;
  }
  .about_ttl h3 {
    font-size: 38px;
  }
  .feature_item {
    max-width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    width: 90%;
  }
  .about_ttl h3 {
    font-size: 36px;
  }
  .feature_item {
    width: 320px;
  }
  .feature_item p {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .about_wrap {
    display: block;
  }
  .about_img img {
    width: 400px;
  }
  .feature_item {
    width: 100%;
    margin-bottom: 20px;
  }
  .service_item p {
    font-size: 14px;
  }
}
.arrow a img {
  padding: 5% 0 5% 45%;
}

@media screen and (max-width: 768px) {
  .arrow a img {
    padding: 5% 0 5% 20%;
  }
}
@media screen and (max-width: 480px) {
  .arrow a img {
    padding: 0;
    width: 90%;
  }
}