$cTransparent:rgba(0, 0, 0, 0);
$cWhite:#fff;
$cWhite2:#eee;
$cGray_Light:#e8e8e8;
$cGray_White:rgb(180, 180, 180) ;
$cGray_Light2:#aaaaaa;
$cGray:#606060;
$cGray_Dark:#333;
$cBlack:#000;
$cTransparent_Black:rgba(0, 0, 0, .1);
$cBlue_Light:#5B8FAD;
$cYellow:#e4a93b;
$cYellow_Light:#ffec9a;
